<div class="bg-gray-800 text-white shadow-lg p-1">
  <div class="container-fluid flex justify-between items-center px-4">
    <!-- Logo -->
    <div class="flex items-center space-x-3">
      <img src="https://img.icons8.com/?size=48&id=13526&format=png" alt="logo de la app">
      <div class="text-lg font-semibold mt-2">
        GymScheduler
      </div>
    </div>

    <!-- Nombre de usuario y foto de perfil -->
    <div class="flex">
      <img src="https://tse3.mm.bing.net/th?id=OIP.ccRFOtJyhtb9QxwnH3N89wHaHa&pid=Api&P=0&h=180" alt="Foto de perfil"
        class="w-8 h-8 rounded-full">
    </div>
  </div>
</div>