<header class="bg-gray-800 text-white shadow-lg p-1">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo -->
       <div class="flex items-center space-x-3">
        <img src="https://img.icons8.com/?size=48&id=13526&format=png" alt="logo de la app" class="">
      <div class="text-xl font-semibold">
        GymScheduler
      </div>
    </div>
  
     
  
      <!-- Nombre de usuario y foto de perfil -->
      <div class="flex items-center space-x-3">
        <img src="https://tse3.mm.bing.net/th?id=OIP.ccRFOtJyhtb9QxwnH3N89wHaHa&pid=Api&P=0&h=180" alt="Foto de perfil" class="w-10 h-10 rounded-full">
        <span class="text-white">Nombre de Usuario</span>
      </div>
   
    </div>
  </header>
  